body {
    font-family: 'Montserrat', sans-serif;
    background: #f6f5f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0
}

h2, h3, h4, h5, h6{
	font-weight:normal;
	margin:1em 0;
}

h2 {
	font-size:160%;
}

h3 {
	font-size:140%;
}

h4 {
	font-size:120%;
}

a {
	text-decoration:none;
	color:#f30;
}

a:hover {
	color:#999;
}

table, input, textarea, select, li {
	font:100% Trebuchet MS, Arial, Helvetica, Sans-Serif;
	line-height:160%;
	color:#333;
}

p, blockquote, ul, ol, form {
	margin:1em 0;
}

img {
	border:none;
}

hr {
	display:none;
}

table {
	margin:1em 0;
	width:100%;
	border-collapse:collapse;
}

th, td {
	padding:2px 5px;
}

th {
	text-align:left;
}

li {
	display:list-item;
}

#container {
	margin:0 auto;
	background: #f6f5f7;
	width:600px;
	padding:20px 40px;
	text-align:left;
}

	#form1 {
		margin:1em 0;
		padding-top:10px;
		background:url(../img/oformleniye-zakaza/form_top.gif) no-repeat 0 0;
}

	#form1 fieldset {
		margin:0;
		padding:0;
		border:none;	
		float:left;
		display:inline;
		width:260px;
		margin-left:25px;
}

	#form1 legend {display:none;}
	#form1 p {margin:.5em 0;}
	#form1 label {display:block;}
	#form1 input, #form1 textarea {
		width:252px;
		border:1px solid #ddd;
		background:#fff url(../img/oformleniye-zakaza/form_input.gif) repeat-x;
		padding:3px;
}

	#form1 textarea {
		height:125px;
		overflow:auto;
}

	#form1 p.submit {
		clear:both;
		background:url(../img/oformleniye-zakaza/form_bottom.gif) no-repeat 0 100%;
		padding:0 25px 20px 25px;
		margin:0;
		text-align:right;
}

	#form1 button {
		width:150px;
		height:37px;
		line-height:37px;
		border:none;
		background:url(../img/oformleniye-zakaza/button.gif) no-repeat 0 0;
		color:#fff;
		cursor:pointer;
		text-align:center;
}

/*ДАЛЬШЕ CSS ДЛЯ МЕНЮ*/
.menu {
  width: 100%;
  position: fixed;
  top: 50px;
  text-align: center;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li{
  display: inline-block;
  vertical-align: middle;
}

.menu li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  margin: 0 15px;
  font-size: 18px;
  position: relative;
  display: inline-block;
}

.menu li a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:hover a:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.menu li:nth-child(1) a {
  animation: show 0.2s 1.1s ease 1 both;
}

.menu li:nth-child(2) a{
  animation: show 0.2s 1.2s ease 1 both;
}

.menu li:nth-child(3) a{
  animation: show 0.2s 1.3s ease 1 both;
}

.menu li:nth-child(4) a {
  animation: show 0.2s 1.4s ease 1 both;
}

.menu li:nth-child(5) a {
  animation: show 0.2s 1.5s ease 1 both;
}

.menu li:nth-child(6) a {
  animation: show 0.2s 1.6s ease 1 both;
}


@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}